/*Estilos solo para componente de Testimonio*/
.contenedor-testimonio{
    /* width: 1170px; */
    max-width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0/13);
}

.imagen-testimonio{
    height: 100%;
    width: 100%; /*auto*/
}
.contenedor-texto-testimonio{
 padding: 40px;
 font-family: Lato, sans-serif ;
 line-height: 1.5rem;
 text-align: center;
 font-weight: 400;
 display: flex;
 flex-direction: column;
 justify-content: center;
 color:#3b3b4f;
 font-size: 1.3rem;
}
.nombre-testimonio{
    
}
.cargo-testimonio{
   margin-top: 15px;
   padding-bottom: 30px ;
}
.texto-testimonio{
font-size: 1.1rem;
text-align: justify;
padding-bottom: 0;
}

@media (max-width: 842px) {
    .contenedor-testimonio{
        max-width: 500px;
        height: fit-content;
        flex-direction: column;
    }

    .contenedor-texto-testimonio{
        padding: 20px;
        font-size: 1.2rem;
    }
}